<div>
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Artist</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
      </div>
      <form #f="ngForm" (ngSubmit)="save(f)">
        <div class="form-group" >
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)] = "artist.name" #name="ngModel" required/>
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
