<div class="grid grid-pad">

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="searchName">Name:</label>
      <input type="text" class="form-control" id="searchName" name="searchName" ngModel required/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div *ngIf="userInfo.isAdmin">
    <button class="btn btn-info" (click)="createArtist()">Create</button>
  </div>

  <div *ngIf="resultArtist$ && resultArtist$.length > 0">
    Results filter: <input name="resultsFilter"/>
    <table>
      <th>Name</th>
      <!--TODO filter-->
      <tr *ngFor="let artist of resultArtist$">
        <td>{{artist.name}}</td>
        <td></td>
        <span *ngIf="userInfo.isAdmin">
          <td>
            <button class="btn btn-info" (click)="editArtist(artist)">edit</button>
          </td>
          <td>
            <button class="btn btn-warning" (click)="deleteArtist(artist)">delete</button>
          </td>
        </span>
      </tr>
    </table>
  </div>

</div>
