<div bsModal #modal="bs-modal">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    There was a problem logging in. Please try again.
  </div>
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" ngModel/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
