<div class="grid grid-pad">

  <span>Search:</span>

  <form #searchForm="ngForm" (ngSubmit)="searchAlbums(searchForm)">
    <div class="form-group">
      <label for="searchName">Title:</label>
      <input type="text" class="form-control" id="searchName" name="searchName" ngModel/>
      <label for="searchYear">Year:</label>
      <input type="text" class="form-control" id="searchYear" name="searchYear" ngModel/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div *ngIf="userInfo.isAdmin">
    <button class="btn btn-info" (click)="createAlbum()">Create</button>
  </div>

  <div *ngIf="foundAlbums && foundAlbums.length > 0">
    Results filter: <input [(ngModel)]="searchFilter" #ctrl="ngModel" (keyup)="filterResults()"/>

    <table>
      <th>Title</th>
      <th>Year</th>
      <th>Name</th>
      <tr *ngFor="let album of filteredAlbums">
        <td>{{album.title}}</td>
        <td>{{album.year}}</td>
        <td>{{album.artist.name}}</td>
        <td></td>
        <span *ngIf="userInfo.isAdmin">
          <td>
          <button class="btn btn-info" (click)="editAlbum(album)">edit</button>
        </td>
        <td>
          <button class="btn btn-warning" (click)="deleteAlbum(album)">delete</button>
        </td>
        </span>
      </tr>
    </table>
  </div>
</div>
